
.vscode/settings.json
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/mygym.iml
.idea/php.xml
.idea/vcs.xml
public/image/equipment_image/
public/image/staff_image/
public/image/event_image/
public/image/member_image/
public/image/class_image/