body{
    font-family: 'Open Sans';
    background-color:#ffffff;
    margin: 0;
    color:rgb(133, 27, 108);
}
body h1 h2 h3 h4 h5 h6{
    font-family: 'Arvo';
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
