body{
    background-color: #ffffff;
    margin: 0;
    /*color:rgb(133, 57, 98);*/
    /*font-family: 'Open Sans';*/
    color:#333333;
}
body h1 h2 h3 h4 h5 h6{
    font-family: 'Arvo';
}
a{
    text-decoration: none;
    /*color:rgb(255,255,255);*/
    /*color: #000;*/
    color: #ffffff;
}
a:hover{
    text-decoration: none;
    color: #ffff00;
}
